body{
    font-family: arial, helvetica;
    background: #e8e8;
}

.menu{
    list-style: none;
    padding: 5px;
    background: #093327;
    width: 35%;
    max-width: 1000px;
    margin: auto;
    float: left;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

